@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;

}
.wrapper{
    width: 1170px;
    margin:auto;
}

.nav-area {
    float: right;
    list-style: none;
    margin-top: 30px;

}

.nav-area li {
    display: inline-block;
}

.nav-area li a {
    color: #000000;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 16px;
}

.nav-area li a:hover {
    background: #ffbc11;
    color: #333;
    transform: scale(1.05);
}

.welcome-text {
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 15% 15%;
    text-align:left;
}

.welcome-text h1 {
    color: rgb(0, 0, 0);
    text-align:left;
    font-size: 60px;
}

.welcome-text h2 {
    color: #000000;
    text-align:left;
    font-size: 60px;
}

.welcome-text a {
    text-align: left;
    border: 1px solid #ffbc11;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #000000;
}

.welcome-text a:hover {
    background: #ffbc11;
    color: #333;
    transform: scale(1.05);
}

.logo img {
    width: 150px;
    float: left;
    height: auto;
    margin-top: 5px;
}